# ---------------------
# Logs
# ---------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---------------------
# Dependencies
# ---------------------
node_modules/

# ---------------------
# Build outputs
# ---------------------
dist/
dist-ssr/
out/
build/

# Vite cache (ควร ignore)
.vite/

# ---------------------
# OS / Editor / Temp
# ---------------------
.DS_Store
Thumbs.db
*.swp
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*.tmp
.idea/
.vscode/*
!.vscode/extensions.json
*.orig

# ---------------------
# Environment / secrets
# ---------------------
.env
.env.*
!.env.example

# ---------------------
# Local configs
# ---------------------
*.local
*.yaml
!pnpm-lock.yaml
*.yml
package-lock.json
yarn.lock

# ---------------------
# TypeScript / tooling caches
# ---------------------
*.tsbuildinfo
tsconfig.tsbuildinfo

# ---------------------
# Optional: test & coverage
# ---------------------
coverage/
*.lcov

# ---------------------
# Optional: debugging & misc
# ---------------------
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
*.pid
*.seed
.parcel-cache/

# ---------------------
# Images cache / generated assets
# ---------------------
.cache/
.cache-loader/

# ---------------------
# Storybook / tools
# ---------------------
.storybook-out/
storybook-static/
