/* แปลงจาก bgLiftBottomLeftStyle */


/* แปลงจาก bgBlockkStyle */
.bg-block {
    background-color: black;
    height: 800px;
    width: 100%;
}

/* แปลงจาก bgBlackStyle */
.bg-black-center {
    background-color: black;
    height: 500px;
    width: 100%;

    /* Flexbox จัดกึ่งกลาง */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg-white-center {
    background-color: white;
    height: 200px;
    width: 100%;

    /* Flexbox จัดกึ่งกลาง */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.text-title {
    font-size: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-story {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}