@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-image-gallery/styles/css/image-gallery.css";

:root {
  --base-font-family: 'Noto Sans Thai';
  --toastify-font-family: var(--base-font-family);
  --toastify-toast-width: 400px;
}

.cus-scroll-to-top {
  width: 48px;
  height: 48px;
  right: 20px;
  bottom: 50px;
  border-radius: 100%;
  background-color: #e44b90;
}

@media (max-width: 640px) {
  .cus-scroll-to-top {
    bottom: 80px;
  }
}

.custom-scroll {
  scrollbar-width: thin; /* firefox */
  scrollbar-color: rgba(15,23,42,0.25) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(15, 23, 42, 0.25);
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
