@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font-family: 'Noto Sans Thai';
  --toastify-font-family: var(--base-font-family);
  --toastify-toast-width: 400px;
}

.cus-scroll-to-top {
  width: 48px;
  height: 48px;
  right: 20px;
  bottom: 50px;
  border-radius: 100%;
  background-color: #e44b90;
}

@media (max-width: 640px) {
  .cus-scroll-to-top {
    bottom: 80px;
  }
}